
*{
    margin: 0;
    padding: 0;   
}
body{
    margin-left: auto;
    margin-right: auto;
    background-color: #F7ECDF;
}
.banner{
    background-image: url(webimage1.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.banner h1{
    font-family: 'Yeseva One', cursive;
    color: #E94A12;
    font-size: 200px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
nav{
    background: #688C4F;
    height: 15vh;   
}
.navbar{
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;
    display: flex;
    align-content: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    background: #F7ECDF;
    border-radius: 80px;
    text-align: center;   
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One', cursive;
    font-size: 20px
}
.pinkbanner{
    background: #EEC9C8;
    height: 380px;
}
.pinkbanner h3{
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 80px;
    padding-bottom: 15px;
    text-align: center;
    color: #688C4F;
    font-size: 90px;
}
.cream{
    background: #F7ECDF;
    height: 100vh;
}
section{
    height: 100vh;
}
.lefttext{
    align-content: center;  
}
.lefttext h4{
    text-align: left;
    color: #E94A12;  
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
    float: left;
    margin-top: 240px;
    margin-left: 150px;
}
.lefttext p{
    position: absolute;
    text-align: left;
    color: #E94A12;
    font-family: forma-djr-micro, sans-serif;
    font-size: 20px;
    margin-top: 330px;
    line-height: 35px;
    float: left;
    margin-left: 150px;    
}
.lefttext img{
    float: right;
    margin-right: 150px;
    height: 490px;
    margin-top: 130px;
    border-radius: 50px;
}
.righttext{
    align-content: center;
}
.righttext h5{
    text-align: right;
    color: #E94A12;  
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    float: right;
    margin-top: 90px;
    margin-right: 150px;
}
.righttext img{
    float: left;
    height: 600px;
    margin-left: 40px;
}
.lefttext2{
    align-content: center;  
}
.lefttext2 h4{
    text-align: left;
    color: #E94A12;  
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
    float: left;
    margin-top: 160px;
    margin-left: 150px;
}
.lefttext2 p{
    position: absolute;
    text-align: left;
    color: #E94A12;
    font-family: forma-djr-micro, sans-serif;
    font-size: 20px;
    margin-top: 270px;
    line-height: 35px;
    float: left;
    margin-left: 150px;    
}
.lefttext2 img{
    float: right;
    margin-right: 80px;
    height: 590px;
}
.footer{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #496037;
}
.footer div{
    text-align: center;
}
.col-1{
    flex-grow: 2;
}
.footer div h7{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #F7ECDF;
}
.footer p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F7ECDF;
    line-height: 25px;
    margin-top: 10px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: #F7ECDF;
}















